<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html"/>

    <style type="text/css">
        @page {
            size: A3 landscape;
            margin: 1cm 1cm 1cm 1cm;
        }
        body {
            font-family: 'Liberation Serif', serif;
            line-height: 1;
        }

        table {
            page-break-inside: avoid;
            font-size: 7pt;
            width: 40cm;
        }

        table td {
            margin: 0;
            border: 0.1mm solid black;
            width: 1.3cm;
            word-wrap: break-word;
        }
        table tr.wordWrap td {
            word-wrap: break-word;
        }
        table td:nth-child(1) {
            width: 0.5cm;
        }
    </style>
</head>
<body>
<table cellspacing="0">
    <caption>аыфв фыва ыфва ывоаж цйоуазшцуйао цйужа цуа цу</caption>
    <tbody class="data">
    <tr>
        <td>Номер п/п</td>
        <td>пфйупцуацу </td>
        <td>пф ацйуа цуа цуп</td>
        <td>ацук пукп упамук укп </td>
        <td>куц пкапи 2еи 2еи24ри </td>
        <td>уцк пке 2еи 2еи ер</td>
        <td>а ри3кет и23кепи 32еи </td>
        <td>пв арик3еи 23е кеп </td>
        <td>а и2еип2еи 2еи</td>
        <td>п2уак 2кап 2п 54</td>
        <td>кп2и еи2е ир2е6и 2</td>
        <td>вп 2укеп2кеп 2еп 2кеп 2п кп 2кр еоен5</td>
        <td>ар23рп2 4п452 54 п2 4п245 п</td>
        <td> ап 3ро56рп65 р63р 365р </td>
        <td>ипке лор2 г8н340892р40 7рр 24</td>
        <td>пло п2нш4- 9пр2й4пр 25п 25п</td>
        <td>пкио еио2-9о изщ42еоп щш24прщ о25пр25</td>
        <td>ва поц2ркмш0г 2к07пр24пр 98-5п 824орп гктпдлаво п-рацп </td>
        <td>лмо 24епи8м2п т2щ4риь 245п 4</td>
        <td> по24-98п гн9-4по 452п 54</td>
        <td> пр24087кпн 04п 4ек5п 2п 54</td>
        <td>алт 24-3 пт2т45п 25</td>
        <td>ар 245ерпп42рп24р42о2о</td>
        <td>акр2 34р4 425р524542й</td>
        <td>рк432р56п45пр45ен45р2 </td>
        <td>аврп234р 45лор 0 пн0у7кр п9734р2 р432 45</td>
        <td>оп 20пр08792п 7р5п0 р25</td>
        <td>ка пр2304 п97 42рп9725р п25</td>
        <td>ватп 2-4рп24пр- 2п54п п</td>
        <td> по24-пр8 5хп от542ор 24р 5 </td>
    </tr>
    {{#each array}}
        <tr>
            <td>{{f1}}</td>
            <td>{{f2}}</td>
            <td>{{f3}}</td>
            <td>{{f4}}</td>
            <td>{{f5}}</td>
            <td>{{f6}}</td>
            <td>{{f7}}</td>
            <td>{{f8}}</td>
            <td>{{f9}}</td>
            <td>{{f10}}</td>
            <td>{{f11}}</td>
            <td>{{f12}}</td>
            <td>{{f13}}</td>
            <td>{{f14}}</td>
            <td>{{f15}}</td>
            <td>{{f16}}</td>
            <td>{{f17}}</td>
            <td>{{f18}}</td>
            <td>{{f19}}</td>
            <td>{{f20}}</td>
            <td>{{f21}}</td>
            <td>{{f22}}</td>
            <td>{{f23}}</td>
            <td>{{f24}}</td>
            <td>{{f25}}</td>
            <td>{{f26}}</td>
            <td>{{f27}}</td>
            <td>{{f28}}</td>
            <td>{{f29}}</td>
            <td>{{f30}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
</body>
</html>