<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html"/>
    <meta charset="utf-8"/>
    <link type="text/css" href="footers-headers.css" rel="stylesheet"/>
    <link type="text/css" href="basic.css" rel="stylesheet"/>
</head>
<body>
<div class="page">
    <div class="footers">
        <div class="header-first">Main Title: {{user.name}}</div>
        <div class="header">Secondary title: {{>id user}}</div>
        <div class="footer-left"><img alt="dynamic" src="{{user.avatar}}"/></div>
        <div class="footer"><h4>UKase v.0.1.4</h4></div>
        <div class="footer-right"><img alt="" src="bar.png"/></div>
    </div>
    <div class="center">
        Hello, {{user.name}}!
        {{>id user}}
    </div>
</div>
<div class="page">
    <div class="center">
        <h1>Ordered books:</h1>
        {{#each books}}<h2>
            {{name}} (by {{format_date author 'dd.MM.yyyy'}}, {{>id this}})
        </h2>{{/each}}
    </div>
</div>
<div class="page">This Page is empty.</div>
</body>
</html>